<!DOCTYPE html>
<html lang="de"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:simpledataedit="http://www.mobger.de/ns-simpledataedit-typo3-extension"
      data-namespace-typo3-fluid="true">
<head>
    <title> Template for Factorize-form </title>
    <!--
        /**
        *
        * This file is part of the "dreipunktnull Glossar" Extension for TYPO3 CMS.
        *
        * For the full copyright and license information, please read the
        * LICENSE.txt file that was distributed with this source code.
        * This  is part of the example-extension `simpledataedittest`.
        *
        * (c) Mai 2021 Dr. Dieter Porth <info@mobger.de> - Freelancer, Bremen.
        *
        ***/
    -->
</head>
<body>

<f:section name="Main">
    <h3>
        <f:translate key="factorize.template.factorize.resultPart.factor.title.fixed"
                     extensionName="simpledataedittest"
        />
    </h3>
<div>
    <f:translate key="factorize.template.factorize.resultPart.factor.remark.timegap.1"
                 extensionName="simpledataedittest"
                 arguments="{gap:gap}"
    />

</div>
    <div>
        <f:form action="factorize">
            <table>
                <tr>
                    <td>
                        <label for="testvalue-{data.uid}">
                            <f:translate key="factorize.template.factorize.resultPart.factor.form.labelNumber"
                                         extensionName="simpledataedittest"
                            />
                        </label>
                    </td>
                    <td>
                        <f:form.textfield name="testvalue" id="testvalue-{data.uid}"
                                          value="{f:if(condition:productNumber,then:productNumber, else:'42')}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="testvalue-left-{data.uid}">
                            <f:translate key="factorize.template.factorize.resultPart.factor.form.labelFactorLeft"
                                         extensionName="simpledataedittest"
                            />
                        </label>
                    </td>
                    <td>
                        <f:form.textfield name="testleft" id="testvalue-left-{data.uid}" value="{info.left.number}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="testvalue-right-{data.uid}">
                            <f:translate key="factorize.template.factorize.resultPart.factor.form.labelFactorRight"
                                         extensionName="simpledataedittest"
                            />
                        </label>
                    </td>
                    <td>
                        <f:form.textfield name="testright" id="testvalue-right-{data.uid}" value="{info.right.number}"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div>
                            <f:format.raw>
                                <f:translate key="factorize.template.factorize.resultPart.factor.form.remark"
                                             extensionName="simpledataedittest"
                                />
                            </f:format.raw>
                        </div>
                        <f:form.submit
                            value="{f:translate(key:'factorize.template.factorize.resultPart.factor.form.submit',extensionName:'simpledataedittest')}"/>
                    </td>
                </tr>
            </table>
        </f:form>

    </div>

</f:section>
</body>
</html>
