<!DOCTYPE html>
<html lang="de"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:simpledataedit="http://www.mobger.de/ns-simpledataedit-typo3-extension"
      data-namespace-typo3-fluid="true">
<head>
    <title> Template for statistics of the factorize-algorithm </title>
    <!--
        /**
        *
        * This file is part of the "dreipunktnull Glossar" Extension for TYPO3 CMS.
        *
        * For the full copyright and license information, please read the
        * LICENSE.txt file that was distributed with this source code.
        * This  is part of the example-extension `simpledataedittest`.
        *
        * (c) Mai 2021 Dr. Dieter Porth <info@mobger.de> - Freelancer, Bremen.
        *
        ***/
    -->
</head>
<body>

<f:section name="Main">
    <h4>
        <f:translate key="factorize.template.factorize.resultPart.statistic.title.vary"
                     extensionName="simpledataedittest"
        />
    </h4>

    <table class="tx_simpledataedittest">
        <tr>
            <th scope="col">
                <f:translate key="factorize.template.factorize.resultPart.tableHeader.count.deep"
                             extensionName="simpledataedittest"
                />
            </th>
            <th scope="col">
                <f:translate key="factorize.template.factorize.resultPart.tableHeader.count.vary"
                             extensionName="simpledataedittest"
                />
            </th>
            <th scope="col">
                <f:translate key="factorize.template.factorize.resultPart.tableHeader.count.logger"
                             extensionName="simpledataedittest"
                />
            </th>
            <th scope="col">
                <f:translate key="factorize.template.factorize.resultPart.tableHeader.count.okay"
                             extensionName="simpledataedittest"
                />
            </th>
            <th scope="col">
                <f:translate key="factorize.template.factorize.resultPart.tableHeader.count.fail"
                             extensionName="simpledataedittest"
                />
            </th>
            <th scope="col">
                <f:translate key="factorize.template.factorize.resultPart.tableHeader.count.never"
                             extensionName="simpledataedittest"
                />
            </th>
        </tr>
        <f:for each="{logStatistics.globalByVary}" as="varyLayer">
            <f:for each="{varyLayer}" as="bitLayer">
                <tr>
                    <td>{bitLayer.vary}</td>
                    <td>{bitLayer.bitindex}</td>
                    <td>{bitLayer.logger}</td>
                    <td>{bitLayer.okay}</td>
                    <td>{bitLayer.fail}</td>
                    <td>{bitLayer.never}</td>
                </tr>
            </f:for>
        </f:for>
    </table>

</f:section>
</body>
</html>
